.header {
    background-color: var(--white);
    padding: 96px 0 77px 0;
}

.header__title {
    color: var(--black);
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    margin: 0;
}

.header_template {
    height: 34px;
    padding: 24px 0 60px 0;
    background-color: transparent;
}
