.header {
    background-color: var(--white);
}

.header__title {
    color: var(--black);
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    padding: 40px 0 0;
    margin: 0;
}

.header_main {
    padding: 25px 0 77px 0;
}

.header_template {
    padding: 24px 0 60px 0;
    background-color: transparent;
}

.header__items {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__items-button {
    height: 24px;
    padding-right: 93px;
    display: none;
}

.header__items-icon {
    background-color: var(--black);
    width: 32px;
    height: 32px;
}

.header__items-icon_square {

}

.header__items-icon_circle {
    border-radius: 112px;
}

.header__items-icon_triangle {
    border: 16px solid transparent;
    border-left-color: var(--black);
    border-bottom-color: var(--black);
    background-color: transparent;
    width: 0;
    height: 0;
}


@media screen and (max-width: 375px) {
    .header__items-button {
        display: block;
    }

    .header__title {
        font-size: 28px;
        line-height: 38px;
    }
}