.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(196, 196, 196, 0.5);
}

.modal__background {
}

.modal__popup {
    border-radius: 8px;
    padding: 30px 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgba(255, 255, 255, 1);
}

.modal__popup_size-default {
    width: 348px;
    height: 234px;
}

.modal__close {
    background-color: transparent;
    border: 0;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 12px;
    right: 12px;
}

.modal__close:hover {
    cursor: pointer;
}

.modal__title {
    color: #334D6E;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
}

.modal__text {
    color: var(--grey-4);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 14px 0;
}