@import "../fonts/fonts.css";
@import "./normalize.css";
@import "./vars.css";

@import "../../components/page/page.css";
@import "../../components/header/header.css";
@import "../../components/footer/footer.css";
@import "../../components/preview/preview.css";
@import "../../components/container/container.css";
@import "../../components/card/card.css";
@import "../../components/tabs/tabs.css";
@import "../../components/toggler/toggler.css";

html, body {
    height: 100%;
}

html[data-theme-dark] {
    --main-bg: var(--black);
    --font-color: #FFFFFF75;
    --dark-bg: var(--grey-1);
    --white-bg: var(--black);
    --light-bg: var(--grey-4);
    --grey-bg: var(--grey-4);
    --card-bg: var(--black);
    --text-primary: var(--white);
    --active-text-color: var(--grey-2);
    --input-text-color: var(--font-color);
}

.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
}
