.skeleton {
    border-radius: 8px;
    border: var(--grey-3) 1px solid;
    padding: 24px 40px 32px 24px;
    display: flex;
    flex-direction: column;
}

.skeleton__top {
    display: flex;
    align-items: center;
    gap: 16px;
}

.skeleton__column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skeleton__bottom {
    padding-top: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    background-color: var(--grey-2);
    border-radius: 50%;
}

.skeleton__row {
    height: 20px;
    background: linear-gradient(90deg, #DDE2E5 3.22%, #E2E6E8 19.23%, #F3F5F5 28.24%, #E3E7EA 38.75%, #DDE2E5 51.26%);
    background-size: 200% 100%;
    animation: gradient 3s linear infinite;
}

.skeleton__row_small {
    width: 36%;
}

.skeleton__row_medium {
    width: 54%;
}

.skeleton__row_full {
    width: 100%;
}

.skeleton__row_big {
    width: 92%;
}

@keyframes gradient {
    0% {
        background-position-x: -50%;
    }
    50% {
        background-position-x: 50%;
    }
    100% {
        background-position-x: -50%;
    }
}