.footer {
    background-color: var(--white);
    padding: 80px 0;
}

.footer__title {
    color: var(--black);
    text-align: center;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin: 0;
}

.footer__text {
    color: var(--black);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    padding-top: 32px;
}

.footer_template {
    background-color: transparent;
    padding: 56px 0 56px;
}

.footer__label {
    color: var(--grey-3);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;

    margin: 0;
}
