@import "../assets/fonts/fonts.css";
@import "../assets/css/normalize.css";
@import "../assets/css/vars.css";

@import "../components/template-page/template-page.css";
@import "../components/menu/menu.css";
@import "../components/details/details.css";
@import "../components/header/header.css";
@import "../components/footer/footer.css";

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #F9FAFC;
}

